<div class="modal fade" id="add-server-modal" tabindex="-1" role="dialog" aria-labelledby="add-server-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row mb-3">
                        <div class="col-7">
                            <input id="add-server-hostname" type="text" class="form-control" placeholder="Hostname">
                        </div>
                        <div class="col">
                            <input id="add-server-port" type="text" class="form-control" placeholder="Port">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Zip">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <input id="add-server-nickname" type="text" class="form-control" placeholder="Nickname">
                        </div>
                        <div class="col-4">
                            <input id="add-server-login-name" type="text" class="form-control" placeholder="Login name">
                        </div>
                        <div class="col-4">
                            <input id="add-server-real-name" type="text" class="form-control" placeholder="Real name">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-server-command" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



