{% extends "base.html.twig" %}

{% set title = 'IRC' %}

{% block body_content %}

    {% include 'add-server-modal.html.twig' %}

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <input class="form-control w-100 red-border base02-color base03-background monospace-font" type="text" placeholder="Search" aria-label="Search">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#configuration-sidebar" aria-hidden="true" aria-expanded="false" aria-controls="configuration-sidebar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container-fluid viewport">
        <div class="row fill">
            <main id="main-block" role="main" class="col-md-9 col-lg-10 px-0">
                <div id="terminal-canvas" class="row mx-0">
                    <div class="col-md-12 px-0 monospace-font align-bottom">
                        chat<br/>
                        asdf<br/>
                        qewr<br/>
                    </div>
                </div>
                <div id="user-input-row" class="row mx-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="user-input-field form-control w-100" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" title="">
                    </div>
                </div>
            </main>
        </div>
    </div>

    <nav id="configuration-sidebar" class="col-md-2 d-none d-md-block sidebar collapse width base02-background">
        <div class="sidebar-sticky">
            <ul id="user-list" class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="circle"></span>
                        User 1 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        User 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        User 3
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Servers</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>

            <ul id="server-list" class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        Server 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        Server 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        Server 3
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="circle"></span>
                        Server 4
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <nav id="connectivity-sidebar" class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
            <ul id="user-list" class="nav flex-column">
                <li class="nav-item">
                    User 1 <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    User 2
                </li>
                <li class="nav-item">
                    User 3
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Servers</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle" data-toggle="modal" data-target="#add-server-modal"></span>
                </a>
            </h6>

            <ul id="server-list" class="nav flex-column"></ul>
        </div>
    </nav>

    <script src="//unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
{% endblock %}